main {
  padding-top: 10%;
  padding-bottom: 100vh;
}

.main h1 {
  color: var(--cor-b2);
  font-family: "raleway-eb", sans-serif;
  font-size: 6rem;
  user-select: none;
  white-space: nowrap;
  padding-right: 50px;
}
.main p {
  color: var(--cor-b2);
  font-family: "mont-l", sans-serif;
  font-size: 1.75rem;
  padding-top: 30px;
  max-width: 50ch;
  user-select: none;
}
.main-foot {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  user-select: none;
}
.seta-baixo {
  text-align: center;
  width: 64px;
  user-select: none;
}

@media (max-width: 1100px) {
  .main h1 {
    font-size: 5rem;
  }
}
@media (max-width: 900px) {
  .main h1 {
    font-size: 4rem;
  }
}
@media (max-width: 700px) {
  .main h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .main h1 {
    font-size: 2rem;
  }
}
