html {
  background: var(--cor-b1);
  scroll-behavior: smooth;
  color: var(--cor-b2);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh 250px;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--cor-p1);
}
.yey-logo {
  text-decoration: none;
  font-family: "empera";
  font-size: 2.8rem;
  color: var(--cor-b2);
  border: solid 5px var(--cor-b2);
  white-space: nowrap;
  position: relative;
}
.menu-lista {
  display: flex;
  gap: 40px;
  align-items: center;
}
.menu-lista a {
  text-decoration: none;
  color: var(--cor-b2);
  font-size: 1.5rem;
  padding: 10px 20px;
  font-family: "mont-m", sans-serif;
  font-weight: bold;
  position: relative;
}
.menu-lista a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-b2);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}
.menu-lista a:hover:after {
  width: 100%;
}
@media (max-width: 850px) {
  .yey-logo {
    font-size: 2.5rem;
  }
}
@media (max-width: 1400px) {
  .header {
    padding: 20px 100px;
  }
}
@media (max-width: 1050px) {
  .header {
    padding: 20px 20px;
  }
}
